.App {
  text-align: center;
  margin: auto;
  width: 80%;
  background-color: rgb(245, 240, 240);
  margin-top: 10px;
}

.App h1{
  color:"blue";
  font-size: 20px;
  text-align: left;
}
.App table{ 
 margin: auto;
width: 100%;
}


.cen{

  text-align: center;
  font-size: x-large;
 
}
.full_name{
text-align: left;
margin-left: 80px;

padding: 10px 20px;
;}
.url{
text-align: left;
padding: 10px 20px;
margin-left: 26px;


}

